[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/fliperama86/rt64.git
[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/fliperama86/N64ModernRuntime.git
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi/
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = https://github.com/sammycage/lunasvg
